<% content_for(:title, I18n.t('.shared.header.boards_list')) %>
<div class="container pt-3">
  <div class="row">
    <%= render 'search', url: boards_path %>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <% @boards.each do |board| %>
            <%= render board %>
          <% end %>
        <% else %>
          <p><%= t('.no_message_board') %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @boards, theme: 'twitter-bootstrap-4' %>
</div>
